<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="QAcart App Automation Test Suite">

	<listeners>
		<listener class-name="com.qacart.retryAnalyzer.RetryTransformer" />
	</listeners>

	<test thread-count="1" name="QAcart Automation Test Framework">
		<classes>

			<class name="Eventum_Testcases.configTest" />
	      <class name="Eventum_Testcases.Test_Page_Two"/>


		</classes>
	</test>
</suite><!-- Suite -->

